*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Авторизация */
body{
    overflow-y: scroll;
}

.authorization-form{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.button-auth{
    margin-top: 15px;
}
.form-floating{
    margin-bottom: 10px;
}

.header-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
tfoot {
    display: table-header-group;
}
.tasks-discription{
    max-width: 400px;
    max-height: 100px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.tasks-discription tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}

.tasks-title{
    max-height: 100px;
    overflow-y: scroll;
    word-wrap: break-word;
}
input[type="text"] {
     width: 100%;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
td{
    padding-right: 0;
}
.td-time{
    width: 100px;
}
table{
    max-width: 1900px;
}
/**/
.task-form{
    display: flex;
    flex-direction: column;

    padding-bottom: 15px;
}

.btn{
    margin-bottom: 5px;
    padding: 3px 5px 3px 5px;
}


/*task_add*/
.filter-title{
    padding-right: 10px;
}

.find{
    margin: 5px 10px 10px 0px;
}


.authorization-form{
    margin-top:3%;
}

.tasks-table{
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow-x: auto;
}

.select-role{
    width: 206.8px;
}

.logs{
    border: 1px solid darkgrey; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px;
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.display-table{
    display: none;
}

.dt-buttons{
    margin-left:120px;
}
.dataTables_filter{
    margin-right:120px;
}

td select{
    height: 30px;
}

.statistic-table{
    width: 700px;
}
.tab-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.statistic-table .dt-buttons{
    margin-left: 0;
}
.statistic-table .dataTables_filter{
    margin-right: 0;
}
.tr-click{
    cursor: pointer;
}


/*sidebar*/

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar ul{
  padding-left: 0;
}

.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  /*background: #E4E9F7;*/
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.anim{
    margin-left: 80px;
}