/* Авторизация */
body{
    overflow-y: scroll;
}

.authorization-form{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.button-auth{
    margin-top: 15px;
}
.form-floating{
    margin-bottom: 10px;
}

.header-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
tfoot {
    display: table-header-group;
}
.tasks-discription{
    max-width: 400px;
    max-height: 100px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.tasks-discription tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}

.tasks-title{
    max-height: 100px;
    overflow-y: scroll;
    word-wrap: break-word;
}
input[type="text"] {
     width: 100%;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
td{
    padding-right: 0;
}
.td-time{
    width: 100px;
}
table{
    max-width: 1900px;
}
/**/
.task-form{
    display: flex;
    flex-direction: column;

    padding-bottom: 15px;
}

.btn{
    margin-bottom: 5px;
    padding: 3px 5px 3px 5px;
}


/*task_add*/
.filter-title{
    padding-right: 10px;
}

.find{
    margin: 5px 10px 10px 0px;
}


.authorization-form{
    margin-top:3%;
}

.tasks-table{
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow-x: auto;
}

.select-role{
    width: 206.8px;
}

.logs{
    border: 1px solid darkgrey; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px;
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.display-table{
    display: none;
}

.dt-buttons{
    margin-left:120px;
}
.dataTables_filter{
    margin-right:120px;
}

td select{
    height: 30px;
}

.statistic-table{
    width: 700px;
}
.tab-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.statistic-table .dt-buttons{
    margin-left: 0;
}
.statistic-table .dataTables_filter{
    margin-right: 0;
}
.tr-click{
    cursor: pointer;
}



/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант */
  background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-backdrop{
    position: unset;
}