<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>



<!--    table     -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>

<script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="header-logo border-bottom">
                <h1>Отдел аудита обеспечивающих процессов</h1>
                <h3>Диспетчер задач</h3>
                <h4>{{ current_user.fio }}</h4>
            </div>
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
              <li><a href="/taskadd" class="nav-link px-2 text-white">Отправить задание</a></li>
              <li><a href="/storagescripts" class="nav-link px-2 text-white">Хранилище скриптов</a></li>
              <li><a href="/statistics" class="nav-link px-2 text-white">Статистика</a></li>
              <li><a href="/test" class="nav-link px-2 text-white">Тест</a></li>
            </ul>


            <div class="d-flex text-end">

                {% if current_user.role.name == 'Admin' %}
                    <a href="/register" class="nav-link px-2 text-white"><font style="vertical-align: inherit;">Добавить пользователя</font></a>
                {% endif %}
                {% if current_user.login %}
                    <a href="/admin_panel" class="nav-link px-2 text-white"><font style="vertical-align: inherit;">Админка</font></a>
                    <a href="/user/{{ current_user.login }}/{{ current_user.id}}" class="nav-link px-2 text-white"><font style="vertical-align: inherit;">Личный кабинет</font></a>
                    <a href="/logout" class="nav-link px-2 text-white"><font style="vertical-align: inherit;">Выйти</font></a>
                {% else %}
                    <a href="/login" class="nav-link px-2 text-white"><font style="vertical-align: inherit;">Авторизоваться</font></a>
                {% endif %}
            </div>
          </div>
        </div>
    </header>

<div class="anim" style="opacity:0;transition:.8s;">
    {% block body %}{% endblock %}
</div>
<script>
  $(document).ready(function() {
    $(".anim").css("opacity", "1");
  });
</script>


    <footer class="border-top">
        <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
        <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>



        <ul class="nav col-md-6 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Главная</a></li>
            <li class="nav-item"><a href="/taskadd" class="nav-link px-2 text-muted">Отправить задание</a></li>
            <li class="nav-item"><a href="/storagescripts" class="nav-link px-2 text-muted">Хранилище скриптов</a></li>
            <li class="nav-item"><a href="/statistics" class="nav-link px-2 text-muted">Статистика</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Наша команда</a></li>
        </ul>
              </div>
  </footer>

</body>

</html>