{% extends 'base.html' %}

{% block title %}
Регистрация пользователя
{% endblock %}

{% block body %}

<div class="container text-center">
  <form class="authorization-form" action="/register" method="post">
    <h1 class="h3 mb-3 fw-normal">Регистрация пользователя</h1>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="h6 flashes">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <div class="form-floating">
      <input type="text" class="form-control" id="login" name="login" placeholder="Логин">
      <label for="login">Логин</label>
    </div>
      <div class="form-floating">
      <input type="text" class="form-control" id="fio" name="fio" placeholder="ФИО">
      <label for="fio">ФИО</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password"  name="password" placeholder="Пароль">
      <label for="password">Пароль</label>
    </div>
      <div class="form-floating">
      <input type="password" class="form-control" id="password2"  name="password2" placeholder="Повторите пароль">
      <label for="password2">Повторите пароль</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary button-auth" type="submit">Регистрация</button>
    <p class="mt-5 mb-3 text-muted">© 2021–2021</p>
  </form>

</div>


{% endblock %}