<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Регистрация пользователя</title>
</head>
<body>
<div class="container text-center">
  <form class="authorization-form" action="/registration" method="post">
    <h1 class="h3 mb-3 fw-normal">Регистрация пользователя</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="login" name="login" placeholder="Логин">
      <label for="login">Логин</label>
    </div>
      <div class="form-floating">
      <input type="text" class="form-control" id="fio" name="fio" placeholder="ФИО">
      <label for="fio">ФИО</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password"  name="password" placeholder="Пароль">
      <label for="password">Пароль</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary button-auth" type="submit">Регистрация</button>
    <p class="mt-5 mb-3 text-muted">© 2021–2021</p>
  </form>

</div>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Действия</th>
            <th scope="col">Инициатор</th>
            <th scope="col">Направление</th>>
        </tr>
    </thead>
    <tbody>
        {% for el in users %}
            <tr>
                <th scope="row">{{ el.id }}</th>
                <td>{{ el.login }}</td>
                <td>{{ el.fio }}</td>
                <td>{{ el.password }}</td>
            </tr>
        {% endfor %}


    </tbody>
</table>



</body>
</html>