{% extends 'base.html' %}

{% block title %}
Задача
{% endblock %}

{% block body %}
{{ ckeditor.load() }}
<div class="container">
    <h1>Детали задачи</h1>
    <div>
        <form class="task-form" action="/tasks/{{ task.id }}/update_task" method="post">
            <div class="mb-3">
                <label class="form-label">ID</label>
                <input  class="form-control" type="text" id="task_id" name="task_id" placeholder="ID" disabled value="{{ task.id }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Инициатор</label>
                <input  class="form-control" type="text" id="user" name="user" placeholder="Пользователь" disabled value="{{ task.user.fio }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Направление</label>
                <select class="form-select" aria-label="Default select example" id="direction" name="direction">
                    {% for el in directions %}
                    <option value="{{ el.id }}"{% if el.id ==  task.direction.id %}selected{% endif %}>{{ el.name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Тип задачи</label>
                <select class="form-select" aria-label="Default select example" id="type" name="type">
                    {% for el in types %}
                    <option value="{{ el.id }}" {% if el.id ==  task.type.id %}selected{% endif %}>{{ el.name }}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="mb-3">
                <label class="form-label">Название задачи</label>
                <textarea class="form-control" name="title" id="title" cols="30" rows="1" placeholder="Название">{{ task.title }}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Описание задачи</label>
                {{ ckeditor.create(name='description', value=task.description ) }}
            </div>
            <div class="mb-3">
                <label class="form-label">Кому назначить задачу</label>
                <select class="form-select" aria-label="Default select example" id="to_user" name="to_user">
                    <option value="0"></option>
                    {% for el in users %}
                    <option value="{{ el.id }}" {% if el.id ==  task.to_user.id %}selected{% endif %}>{{ el.fio }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Приоритет</label>
                <select class="form-select" aria-label="Default select example" id="urgency" name="urgency">
                    {% for el in urgency %}
                        <option value="{{ el.id }}" {% if el.id==1 %}
                        style="background-color:MediumSeaGreen;"
                        {% elif el.id==2 %}
                        style="background-color:Orange;"
                        {% elif el.id==3 %}
                        style="background-color:Tomato;"
                        {% endif%} {% if el.id ==  task.urgency.id %}
                        selected
                        {% endif %}>{{ el.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Дата и время начала задачи</label>
                <input class="form-control" type="datetime-local" id="date_start" name="date_start" value="{{ task.date_start.strftime('%Y-%m-%dT%H:%M') }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Дата и время завершения задачи</label>
                <input class="form-control" type="datetime-local" id="date_finish" name="date_finish" value="{{ task.date_finish.strftime('%Y-%m-%dT%H:%M') }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Статус задачи</label>
                <select class="form-select" aria-label="Default select example" id="status" name="status">
                    {% for el in status %}
                    <option value="{{ el.id }}" {% if el.id ==  task.status.id %}selected{% endif %}>{{ el.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="customRange" class="form-label">Оценка</label>
            <input type="range" class="form-range" min="0" max="5" id="customRange" value="3">
            </div>


            {% if (current_user.id == task.user.id or current_user.id == task.to_user.id or task.to_user.id == null) or current_user.role.name == 'Admin' %}
            <input type="submit" class="btn btn-success" id="add_type" name="add_type" value="Отправить изменения">
            <a href="/tasks/{{ task.id }}/delete_task" class="btn btn-danger">Удалить</a>
            {% endif %}
            <a href="/tasks" class="btn btn-primary">Вернуться</a>
        </form>

        <label class="form-label">Логи задачи</label>
        <div class="logs">
            {% for el in logs %}
                {{ el.description|safe }}
             {% endfor %}
        </div>


    </div>
</div>

{% endblock %}