{% extends 'base.html' %}

{% block title %}
Список задач
{% endblock %}

{% block body %}
<div class="container">
    <h1>Список задач</h1>
</div>

<div class="tasks-table">
        <script type="text/javascript">
	$(document).ready(function()
	{
// Setup - add a text input to each footer cell
    $('#example tfoot td').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="'+title+'" />' );
    } );


	    $('#example').DataTable(
	    { initComplete: function () {


            this.api().columns([2, 3, 7, 10]).every( function () {
                var column = this;
                var select = $('<select><option value="">Все</option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
                $('#example tfoot tr').appendTo('#example .filters');

            // Apply the search
            this.api().columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        },
            dom: 'Bfrtip',
            lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10', '25', '50', 'Показать все' ]
            ],
            buttons: [
                  'excel', 'pageLength'
            ],
            fixedHeader: {
                header: true,

            },
            "language":{
    "processing": "Подождите...",
    "search": "Поиск:",
    "lengthMenu": "Показать _MENU_ записей",
    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
    "infoEmpty": "Записи с 0 до 0 из 0 записей",
    "infoFiltered": "(отфильтровано из _MAX_ записей)",
    "loadingRecords": "Загрузка записей...",
    "zeroRecords": "Записи отсутствуют.",
    "emptyTable": "В таблице отсутствуют данные",
    "paginate": {
        "first": "Первая",
        "previous": "Предыдущая",
        "next": "Следующая",
        "last": "Последняя"
    },
    "aria": {
        "sortAscending": ": активировать для сортировки столбца по возрастанию",
        "sortDescending": ": активировать для сортировки столбца по убыванию"
    },
    "buttons": {
        "pageLength": {
            "_": "Показать 10 строк",
            "25": "Показать 25 строк",
            "50": "Показать 50 строк",
            "-1": "Показать все ряды"
        },
        "collection": "Коллекция <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
        "colvis": "Видимость столбцов",
        "colvisRestore": "Восстановить видимость",
        "excel": "Экспортировать в Excel"
    }


}


	    } );

	} );
	</script>


<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->
    <table class="table table-striped table-hover table-bordered " id="example">
        <thead class="filters">
            <tr>
                <th scope="col" class="">ID</th>
                <th scope="col" class="">Инициатор</th>
                <th scope="col" class="">Направление</th>
                <th scope="col" class="">Тип задачи</th>
                <th scope="col" class="">Название</th>
                <th scope="col" class="">Задание</th>
                <th scope="col" class="">Исполнитель</th>
                <th scope="col" class="">Приоритет</th>
                <th scope="col" class="td-time">Дата создания</th>
                <th scope="col" class="td-time">Срок исполнения</th>
                <th scope="col" class="">Статус</th>
                <th scope="col" class="">Оценка</th>
            </tr>
        </thead>
        <tbody>
            {% for el in tasks %}
<!--                <tr class="tr-click" ondblclick="window.location='/tasks/{{ el.id }}'">-->
                <tr class="tr-click" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    data-bs-id="{{ el.id }}"
                    data-bs-user-fio="{{ el.user.fio }}"
                    data-bs-user-id="{{ el.user.id }}"
                    data-bs-direction="{{ el.direction.id }}"
                    data-bs-type="{{ el.type.id }}"
                    data-bs-title="{{ el.title }}"
                    data-bs-description="{{ el.description }}"
                    data-bs-to-user-id="{{ el.to_user.id }}"
                    data-bs-urgency="{{ el.urgency.id }}"
                    data-bs-start="{{ el.date_start.strftime('%Y-%m-%dT%H:%M') }}"
                    data-bs-finish="{{ el.date_finish.strftime('%Y-%m-%dT%H:%M') }}"
                    data-bs-status="{{ el.status.id }}"
                    data-bs-rating="{{ el.rating}}"
                    data-bs-logs="{% for log in logs %}{% if log.task_id == el.id %}{{ log.description }}{% endif %}{% endfor %}"

                >
                    <td>
                        <div class="task-id">
                        {{ el.id }}
                        </div>
                    </td>
    <!--                <td class="td">-->
    <!--                    <a href="/tasks/{{ el.id }}" class="btn btn-primary">Детальнее</a>-->
    <!--                </td>-->
                    <td>{{ el.user.fio }}</td>
                    <td >{{ el.direction.name }}</td>
                    <td >{{ el.type.name }}</td>
                    <td>
                        <div class="tasks-title">{{ el.title }}</div>
                    </td>
                    <td >
                        <div class="tasks-discription">{{ el.description|safe }}</div>
                    </td>
                    <td >{{ el.to_user.fio }}</td>
                    <td {% if el.urgency.name=="Низкий" %}
                        style="background-color:MediumSeaGreen;"
                        {% elif el.urgency.name=="Средний" %}
                        style="background-color:Orange;"
                        {% elif el.urgency.name=="Высокий" %}
                        style="background-color:Tomato;"
                        {% endif%}>
                        {{ el.urgency.name }}
                    </td>
                    <td>{{ el.date_start.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ el.date_finish.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ el.status.name }}</td>
                    <td>{{ el.rating }}</td>

                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>ID</td>
                <td>Инициатор</td>
                <td>Направление</td>
                <td>Тип задачи</td>
                <td>Название</td>
                <td>Задание</td>
                <td>Исполнитель</td>
                <td>Приоритет</td>
                <td>Дата создания</td>
                <td>Срок исполнения</td>
                <td>Статус</td>
                <td>Оценка</td>
            </tr>
        </tfoot>
</table>
</div>


<!-- Modal -->
{{ ckeditor.load() }}
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="task-form" action="/tasks/edit" method="post">
          <div class="mb-3">
                <label class="form-label">ID</label>
                <input  class="form-control" type="text" id="task_id" name="task_id" placeholder="ID" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Инициатор</label>
                <input  class="form-control" type="text" id="user" name="user" placeholder="Пользователь" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Направление</label>
                <select class="form-select" aria-label="Default select example" id="direction" name="direction">
                    {% for el in directions %}
                    <option value="{{ el.id }}">{{ el.name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Тип задачи</label>
                <select class="form-select" aria-label="Default select example" id="type" name="type">
                    {% for el in types %}
                    <option value="{{ el.id }}">{{ el.name }}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="mb-3">
                <label class="form-label">Название задачи</label>
                <textarea class="form-control" name="title" id="title" cols="30" rows="1" placeholder="Название"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Описание задачи</label>
                {{ ckeditor.create(name='description' ) }}
            </div>
            <div class="mb-3">
                <label class="form-label">Кому назначить задачу</label>
                <select class="form-select" aria-label="Default select example" id="to_user" name="to_user">
                    <option value="0"></option>
                    {% for el in users %}
                    <option value="{{ el.id }}">{{ el.fio }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Приоритет</label>
                <select class="form-select" aria-label="Default select example" id="urgency" name="urgency">
                    {% for el in urgency %}
                        <option value="{{ el.id }}" {% if el.id==1 %}
                        style="background-color:MediumSeaGreen;"
                        {% elif el.id==2 %}
                        style="background-color:Orange;"
                        {% elif el.id==3 %}
                        style="background-color:Tomato;"
                        {% endif%} >{{ el.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Дата и время начала задачи</label>
                <input class="form-control" type="datetime-local" id="date_start" name="date_start" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Дата и время завершения задачи</label>
                <input class="form-control" type="datetime-local" id="date_finish" name="date_finish">
            </div>
            <div class="mb-3">
                <label class="form-label">Статус задачи</label>
                <select class="form-select" aria-label="Default select example" id="status" name="status">
                    {% for el in status %}
                    <option value="{{ el.id }}">{{ el.name }}</option>
                    {% endfor %}
                </select>
            </div>


               <div class="mb-3">
                    <label for="rating" class="form-label">Оценка</label>
                    <input type="range" class="form-range" min="0" max="5" id="rating" name="rating">
                </div>
                <label class="form-label">Логи задачи</label>
                        <div class="logs" id="logs">
                            {% for el in logs %}
                                {% if el.task_id == 1%}
                                    {{ el.description|safe }}
                                {% endif %}
                             {% endfor %}
                        </div>
            <div class="buttons" id="buttons">

            </div>


        </form>

      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


<script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes


        var id = button.getAttribute('data-bs-id');
        var user = button.getAttribute('data-bs-user-fio');
        var direction = button.getAttribute('data-bs-direction');
        var type = button.getAttribute('data-bs-type');
        var title = button.getAttribute('data-bs-title');
        var description = button.getAttribute('data-bs-description');
        var to_user_id = button.getAttribute('data-bs-to-user-id');
        var urgency = button.getAttribute('data-bs-urgency');
        var start = button.getAttribute('data-bs-start');
        var finish = button.getAttribute('data-bs-finish');
        var status = button.getAttribute('data-bs-status');
        var rating = button.getAttribute('data-bs-rating');
        var logs = button.getAttribute('data-bs-logs');

        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title');
        var modal_id = exampleModal.querySelector('.modal-body #task_id');
        var modal_user = exampleModal.querySelector('.modal-body #user');
        var modal_direction = exampleModal.querySelector('.modal-body #direction');
        var modal_type = exampleModal.querySelector('.modal-body #type');
        var modal_title = exampleModal.querySelector('.modal-body #title');
        var modal_to_user = exampleModal.querySelector('.modal-body #to_user');
        var modal_urgency = exampleModal.querySelector('.modal-body #urgency');
        var modal_start = exampleModal.querySelector('.modal-body #date_start');
        var modal_finish = exampleModal.querySelector('.modal-body #date_finish');
        var modal_status = exampleModal.querySelector('.modal-body #status');
        var modal_rating = exampleModal.querySelector('.modal-body #rating');
        var modal_logs = exampleModal.querySelector('.modal-body #logs');

        modalTitle.textContent = 'Редактирование задачи ';
        modal_id.value = id;
        modal_user.value = user;
        modal_direction.value = direction;
        modal_type.value = type;
        modal_title.value = title;
        CKEDITOR.instances['description'].setData(description);
        if(to_user_id == ""){
             modal_to_user.value = 0;
        }
        else{
             modal_to_user.value= to_user_id;
        }
        modal_urgency.value = urgency;
        modal_start.value = start;
        modal_finish.value = finish;
        modal_status.value = status;
        modal_rating.value = rating;
        modal_logs.innerHTML  = logs;

        var current_user_role = "{{current_user.role.name}}";
        var current_user_id = "{{current_user.id}}";
        var user_id = button.getAttribute('data-bs-user-id');
        console.log(current_user_id, user_id)
        if( current_user_role == "Admin" || current_user_id == user_id ){
            console.log("Ok")

            $("#buttons").html('<input type="submit" class="btn btn-primary" name="action" value="Отправить изменения" onclick="return confirm(\'Вы уверены что хотите отправить изменения?\');">' +
                '<input type="submit" class="btn btn-danger" name="action" value="Удалить" onclick="return confirm(\'Вы уверены что хотите удалить задачу?\');">');
        }
        else if( current_user_id == to_user_id || to_user_id == ""){
            $("#buttons").html('<input type="submit" class="btn btn-primary" name="action" value="Отправить изменения" onclick="return confirm(\'Вы уверены что хотите отправить изменения?\');">');
        }
        else{
            $("#buttons").html('');
        }
    })

</script>

{% endblock %}