{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
    <h1>Список доступных задач</h1>
    <div >
        <h3 class="filter-title">Фильтры:</h3>
        <div class="d-flex align-items-center justify-content-between">
            <input class="find form-control" type="text" id="myInputId" onkeyup="searchId()" placeholder="Поиск по ID..">
            <input class="find form-control" type="text" id="myInputName" onkeyup="searchName()" placeholder="Поиск по инициатору..">
            <input class="find form-control" type="text" id="myInputTitle" onkeyup="searchTitle()" placeholder="Поиск по Названию задачи..">
            <input class="find form-control" type="text" id="myInputNameTo" onkeyup="searchNameTo()" placeholder="Поиск по Кому назначена..">
            <input class="find form-control" type="text" id="myInputUrgency" onkeyup="searchUrgency()" placeholder="Поиск по Срочности..">
        </div>
    </div>
</div>


<table class="table table-striped table-hover table-bordered" id="myTable">
    <thead>
            <th scope="col">ID</th>
            <th scope="col">Действия</th>
            <th scope="col">Инициатор</th>
            <th scope="col">Направление</th>
            <th scope="col">Тип задачи</th>
            <th scope="col">Название</th>
            <th scope="col">Задание</th>
            <th scope="col">Кому назначена</th>
            <th scope="col">Приоритет</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Срок исполнения</th>
            <th scope="col">Статус</th>
    </thead>
    <tbody>
        {% for el in tasks %}
            <tr>
                <td scope="row">{{ el.id }}</td>
                <td>
                    <a href="/tasks/{{ el.id }}" class="btn btn-primary">Детальнее</a>
                </td>
                <td>{{ el.user.fio }}</td>
                <td>{{ el.direction.name }}</td>
                <td>{{ el.type.name }}</td>
                <td>{{ el.title }}</td>
                <td>
                    <div class="tasks-discription">{{ el.description }}</div>
                </td>
                <td>{{ el.to_user.fio }}</td>
                <td {% if el.urgency.name=="Низкий" %}
                    style="background-color:MediumSeaGreen;"
                    {% elif el.urgency.name=="Средний" %}
                    style="background-color:Orange;"
                    {% elif el.urgency.name=="Высокий" %}
                    style="background-color:Tomato;"
                    {% endif%}>
                    {{ el.urgency.name }}
                </td>
                <td>{{ el.date_start.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ el.date_finish.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ el.status.name }}</td>
            </tr>
        {% endfor %}


    </tbody>
</table>


<script>
    function searchId() {
      // Declare variables
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInputId");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    function searchName() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInputName");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[2];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
       function searchTitle() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInputTitle");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[5];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    function searchNameTo() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInputNameTo");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[7];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
    }
    function searchUrgency() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInputUrgency");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[8];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
    }
</script>
{% endblock %}