{% extends 'base.html' %}

{% block title %}
Добавить задание
{% endblock %}

{% block body %}

<div class="container">
    <h1>Форма добавления задания</h1>
    <div>
        <form class="task-form" action="/taskadd" method="post">
            <input type="text" id="user" name="user" placeholder="Пользователь" disabled value="{{ name }}">
            <select class="form-select" aria-label="Default select example" id="direction" name="direction">
                {% for el in directions %}
                <option value="{{ el.id }}">{{ el.name }} </option>
                {% endfor %}
            </select>
            <select class="form-select" aria-label="Default select example" id="type" name="type">
                {% for el in types %}
                <option value="{{ el.id }}">{{ el.name }}</option>
                {% endfor %}
            </select>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Описание"></textarea>
            <select class="form-select" aria-label="Default select example" id="to_user" name="to_user">
                {% for el in users %}
                <option value="{{ el.id }}">{{ el.fio }}</option>
                {% endfor %}
            </select>
            <select class="form-select" aria-label="Default select example" id="urgency" name="urgency">
                {% for el in urgency %}
                <option value="{{ el.id }}">{{ el.name }}</option>
                {% endfor %}
            </select>
            <input type="datetime-local" id="date_finish" name="date_finish" placeholder="Дата завершения">
            <input type="submit" class="btn btn-success" value="Отправить">

        </form>
    </div>
</div>
{% endblock %}